@using DropGunAcademy.Models.Estudante
<div>
    <h1>Alunos DropGunAcademy</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estudante in Model.Estudantes)
            {
                <tr>
                    <td>@estudante.id</td>
                    <td>@estudante.nome</td>
                    <td>@estudante.cpf</td>
                    <td>@estudante.dataNascimento.ToString("dd/MM/yyyy")</td>
                    <td>@estudante.endereco</td>
                    <td>@estudante.telefone</td>
                    <td>@estudante.email</td>
                    <td>
                        @if (estudante.status == 1) {
                            <span class="badge bg-success">Ativo</span>
                        } else {
                            <span class="badge bg-danger">Inativo</span>
                        }
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary btn-sm" asp-controller="Estudante" asp-action="Editar" asp-route-id="@estudante.id">Editar</a>
                        <a href="@Url.Action("Delete", new { id = estudante.id })" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este Aluno?')">Excluir</a>
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Create")" class="btn btn-primary">Adicionar</a>
</div>
