@using DropGunAcademy.Models.Estudante
@model EstudantesModel
<div>
    <h2 class="text-center">Lista de alunos</h2>
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Status</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estudante in Model.Estudantes)
            {
                <tr>
                    <th scope="row">@estudante.id_aluno</th>
                    <td>@estudante.nome</td>
                    <td>@estudante.cpf</td>
                    <td>@estudante.data_nascimento.ToString("dd/MM/yyyy")</td>
                    <td>@estudante.endereco</td>
                    <td>@estudante.telefone</td>
                    <td>@estudante.email</td>
                    <td>
                        @if (estudante.situacao_registro == 1) {
                            <span class="badge bg-success">Ativo</span>
                        } else {
                            <span class="badge bg-danger">Inativo</span>
                        }
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary btn-sm" asp-controller="Estudante" asp-action="Editar" asp-route-id="estudante.id">Editar</a>
                        <a href="@Url.Action("Delete", new { id = estudante })" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este Aluno?')">Excluir</a>
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Create")" class="btn btn-dark">Adicionar</a>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>    
</div>
